aio-pika==6.4.1
aiormq==3.3.1
blis==0.7.6
bpemb==0.3.3
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
conllu==4.4.1
cryptography==36.0.1
cycler==0.11.0
cymem==2.0.6
Cython==0.29.14
DAWG-Python==0.7.2
deeppavlov==0.17.2
Deprecated==1.2.13
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
fastapi==0.47.1
filelock==3.0.12
flair==0.10
fonttools==4.30.0
ftfy==6.1.1
gdown==3.12.2
gensim==4.1.2
h11==0.9.0
h5py==2.10.0
httptools==0.1.2
huggingface-hub==0.4.0
idna==2.8
importlib-metadata==3.10.1
Janome==0.4.2
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
lxml==4.8.0
MarkupSafe==2.1.0
matplotlib==3.5.1
more-itertools==8.8.0
mpld3==0.3
multidict==6.0.2
murmurhash==1.0.6
nltk==3.4.5
numpy==1.18.0
overrides==3.1.0
packaging==21.3
pamqp==2.3.0
pandas==0.25.3
pathy==0.6.1
Pillow==9.0.1
preshed==3.0.6
prometheus-client==0.7.1
pycparser==2.21
pydantic==1.8.2
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.7
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.2
pytz==2019.1
PyYAML==6.0
ratelimit==2.2.1
regex==2022.3.2
requests==2.22.0
ruamel.yaml==0.15.100
rusenttokenize==0.0.5
sacremoses==0.0.35
scikit-learn==1.0.2
scipy==1.4.1
segtok==1.5.11
sentencepiece==0.1.95
six==1.16.0
smart-open==5.2.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
sqlitedict==2.0.0
srsly==2.4.2
starlette==0.12.9
tabulate==0.8.9
thinc==8.0.13
threadpoolctl==3.1.0
tokenizers==0.11.6
torch==1.11.0
tqdm==4.62.0
transformers==4.17.0
typer==0.4.0
typing-extensions==4.1.1
urllib3==1.25.11
uvicorn==0.11.7
uvloop==0.14.0
wasabi==0.9.0
wcwidth==0.2.5
websockets==8.1
Wikipedia-API==0.5.4
wrapt==1.14.0
yarl==1.7.2
zipp==3.7.0
